<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" 
  formControlName="firstName"  >

  <span
  [hidden]="f['firstName'].valid ||
   (f['firstName'].untouched && isValid)"
  class="text-danger"
  translate
>

<div *ngIf="f['firstName'].hasError('required')">
firstName is required

</div>

<div *ngIf="f['firstName'].hasError('maxlength')">
  Invalid max Length

  </div>
</span>

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" 
  formControlName="lastName">

  <span
  [hidden]="f['lastName'].valid ||
   (f['lastName'].untouched && isValid)"
  class="text-danger"
  translate
>
LastName is required
</span>


<div formGroupName="address">



  <h2>Address</h2>

  <label for="street">Street: </label>
  <input id="street" type="text" formControlName="street">
  
  <span
  [hidden]="fsubcontrols.controls['street'].valid ||
   (fsubcontrols.controls['street'].untouched && isValid)"
  class="text-danger"
  translate
>
street is required
</span>


  <label for="city">City: </label>
  <input id="city" type="text" formControlName="city">

  <label for="state">State: </label>
  <input id="state" type="text" formControlName="state">

  <label for="zip">Zip Code: </label>
  <input id="zip" type="text" formControlName="zip">
</div>

<input type="submit" value="save" />
</form>